<a href="https://colab.research.google.com/github/marelly1/Ejercicios/blob/master/GSpread.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

In [3]:
#se abre el archivo que está en hoja de calculo de google 
sh =gc.open("turismoYT")
worksheet=gc.open("turismoYT").sheet1
rows=worksheet.get_all_values()

In [4]:
#le adicionamos una nueva hoja llamada resultados con 100 filas y 20 columnas
wks=sh.add_worksheet(title="resultados",rows="100",cols="20")

In [5]:
#aquí se prueba que efectivamente no hay ninguna error y se puede ingresar
#el número 7 en la hoja de cálculo de google
wks.update_acell("B5",7)

{'spreadsheetId': '1Pf0Bqf85Bz4BmlZEzG0ZyEzZvAN_ZUElLbiAYS7wA74',
 'updatedCells': 1,
 'updatedColumns': 1,
 'updatedRange': 'resultados!B5',
 'updatedRows': 1}

In [6]:
import pandas as pd
df=pd.DataFrame.from_records(rows)
print(list(df))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
#aquí le estamos diciendo que la fila número 1 será el título de las columnas
df.columns=df.iloc[0]
print(list(df))

['PROD_EST', 'ANIO', 'MES', 'TIPO', 'TIPO_DE_TRANSPORTE', 'CATEGORIA', 'VARIABLE', 'VALOR', 'UNIDAD_DE_MEDIDA', 'ESTATUS']

In [9]:
#aquí estamos cambiando a tipo de dato númerico todos los valores de la columna VALOR
df['VALOR']=pd.to_numeric(df['VALOR'],errors="coerce")
print(df['VALOR'].max())
maximo=df['VALOR'].max()

2089029913.0

In [10]:
#Aquí estamos pasando como dato el valor máximo de la columna valor a la celda C5 
#la hoja resultado de la hoja de cálculo de google turismoYT 
wks.update_acell("C5",maximo)

{'spreadsheetId': '1Pf0Bqf85Bz4BmlZEzG0ZyEzZvAN_ZUElLbiAYS7wA74',
 'updatedCells': 1,
 'updatedColumns': 1,
 'updatedRange': 'resultados!C5',
 'updatedRows': 1}