<a href="https://colab.research.google.com/github/marelly1/Ejercicios/blob/master/SolEjercicio8Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ejercicio 8:
Los ficheros emisiones-2016.csv, emisiones-2017.csv, emisiones-2018.csv y emisiones-2019.csv, contienen datos sobre las emisiones contaminates en la ciudad de Madrid en los años 2016, 2017, 2018 y 2019 respectivamente. Escribir un programa con los siguientes requisitos:**

In [19]:
import pandas as pd
import numpy as np
import datetime as dt
from google.colab import files
urlEmisiones2016="https://raw.githubusercontent.com/marelly1/pandas/master/emisiones-2016.csv"
urlEmisiones2017="https://raw.githubusercontent.com/marelly1/pandas/master/emisiones-2017.csv"
urlEmisiones2018="https://raw.githubusercontent.com/marelly1/pandas/master/emisiones-2018.csv"
urlEmisiones2019="https://raw.githubusercontent.com/marelly1/pandas/master/emisiones-2019.csv"

1.   **Generar un DataFrame con los datos de los cuatro ficheros.**

In [11]:
datos=pd.read_csv(urlEmisiones2016, encoding="Latin-1", sep=";",decimal=",")
df=pd.DataFrame(datos)
datos1=pd.read_csv(urlEmisiones2017, encoding="Latin-1", sep=";",decimal=",")
df1=pd.DataFrame(datos1)
datos2=pd.read_csv(urlEmisiones2018, encoding="Latin-1", sep=";",decimal=",")
df2=pd.DataFrame(datos2)
datos3=pd.read_csv(urlEmisiones2019, encoding="Latin-1", sep=";",decimal=",")
df3=pd.DataFrame(datos3)
#Concatenando los 4 dataframes
ab=pd.concat([df, df1,df2,df3])
#exportando el archivo a un csv
#ab.to_csv("concatenado.csv", encoding="Latin-1")
#files.download("concatenado.csv")

#ab[dias] = ab[dias].apply(pd.to_numeric)

2.   **Filtrar las columnas del DataFrame para quedarse con las columnas ESTACION, MAGNITUD, AÑO, MES y las correspondientes a los días D01, D02, etc.**

In [12]:
filtro=ab[["ESTACION","MAGNITUD","ANO","MES","D01","D02",'D03','D04','D05','D06','D07','D08','D09','D10','D11','D12','D13','D14','D15','D16','D17','D18','D19','D20','D21','D22','D23','D24','D25','D26','D27','D28','D29','D30','D31']]

3.   **Reestructurar el DataFrame para que los valores de los contaminantes de las columnas de los días aparezcan en una única columna.**

In [13]:
nuevo = filtro.melt(id_vars=['ESTACION', 'MAGNITUD', 'ANO', 'MES'], var_name='DIA', value_name='VALOR')
nuevo.head(3)

   ESTACION  MAGNITUD   ANO  MES  DIA  VALOR
0         4         1  2016    1  D01  00008
1         4         1  2016    2  D01  00012
2         4         1  2016    3  D01  00011

4.   **Añadir una columna con la fecha a partir de la concatenación del año, el mes y el día (usar el módulo datetime).**

In [14]:
nuevo["DIA"] = nuevo.DIA.str.extract(r"([-+]?\d*\.\d+|\d+)", expand=False).astype(np.int64)

nuevo["FECHA"]=pd.to_datetime((nuevo.ANO*10000+nuevo.MES*100+nuevo.DIA).apply(str),format="%Y%m%d", errors='coerce')
print(nuevo.head(5))

   ESTACION  MAGNITUD   ANO  MES  DIA  VALOR      FECHA
0         4         1  2016    1    1  00008 2016-01-01
1         4         1  2016    2    1  00012 2016-02-01
2         4         1  2016    3    1  00011 2016-03-01
3         4         1  2016    4    1  00008 2016-04-01
4         4         1  2016    5    1  00007 2016-05-01

5.   **Eliminar las filas con fechas no válidas (utilizar la función isnat del módulo numpy) y ordenar el DataFrame por estaciones, contaminantes y fecha.**

In [15]:
nuevo = nuevo.drop(nuevo[np.isnat(nuevo.FECHA)].index)
nuevo.sort_values(['ESTACION', 'MAGNITUD', 'FECHA'])
nuevo

        ESTACION  MAGNITUD   ANO  MES  DIA  VALOR      FECHA
0              4         1  2016    1    1  00008 2016-01-01
1              4         1  2016    2    1  00012 2016-02-01
2              4         1  2016    3    1  00011 2016-03-01
3              4         1  2016    4    1  00008 2016-04-01
4              4         1  2016    5    1  00007 2016-05-01
...          ...       ...   ...  ...  ...    ...        ...
225238        60        14  2019    5   31  00085 2019-05-31
225240        60        14  2019    7   31  00092 2019-07-31
225241        60        14  2019    8   31  00098 2019-08-31
225243        60        14  2019   10   31  00047 2019-10-31
225245        60        14  2019   12   31  00004 2019-12-31

[221158 rows x 7 columns]

6.   **Mostrar por pantalla las estaciones y los contaminantes disponibles en el DataFrame.**

In [17]:
# Mostrar las estaciones disponibles
print('Estaciones:', nuevo.ESTACION.unique())
# Mostrar los contaminantes disponibles
print('Contaminantes:', nuevo.MAGNITUD.unique())

Estaciones: [ 4  8 11 16 17 18 24 27 35 36 38 39 40 47 48 49 50 54 55 56 57 58 59 60]
Contaminantes: [ 1  6  7  8 12  9 10 14 20 30 35 42 43 44]

7.   **Crear una función que reciba una estación, un contaminante y un rango de fechas y devuelva una serie con las emisiones del contaminante dado en la estación y rango de fechas dado.**

In [20]:
def evolucion(estacion, contaminante, desde, hasta):
    return nuevo[(nuevo.ESTACION == estacion) & (nuevo.MAGNITUD == contaminante) & (nuevo.FECHA >= desde) & (nuevo.FECHA <= hasta)].sort_values('FECHA').VALOR
evolucion(56, 8, dt.datetime.strptime('2018/10/25', '%Y/%m/%d'), dt.datetime.strptime('2019/02/12', '%Y/%m/%d'))

179559    00089
186825    00087
194091    00046
201357    00038
208623    00029
          ...
57841     00082
65107     00064
72373     00026
79639     00059
86905     00071
Name: VALOR, Length: 111, dtype: object

8.   **Mostrar un resumen descriptivo (mímino, máximo, media, etc) para cada contaminante.**

In [23]:
nuevo.groupby('MAGNITUD').VALOR.describe()

          count unique    top  freq
MAGNITUD
1         14610     45  00005  1549
6         14610     21  000.3  4511
7         35064    247  00002  3121
8         35064    135  00027   774
9          8948     52  00008   728
10        17897    115  00011   848
12        35064    452  00026   530
14        20454    123  00059   319
20         8766    188  000.9   349
30         8766     48  000.2  1859
35         8766    111  000.1  2677
42         4383    167  01.26   124
43         4383    157  01.20   131
44         4383     54  00.06   368

9.   **Mostrar un resumen descriptivo para cada contaminente por distritos.**

In [24]:
nuevo.groupby(['ESTACION', 'MAGNITUD']).VALOR.describe()

                  count unique    top freq
ESTACION MAGNITUD
4        1         1461     25  00007  228
         6         1461     13  000.3  540
         7         1461    163  00007   85
         8         1461     96  00026   40
         12        1461    280  00036   30
...                 ...    ...    ...  ...
60       7         1461     99  00002  237
         8         1461     92  00023   55
         10        1461     64  00014   82
         12        1461    188  00022   43
         14        1461    114  00075   30

[153 rows x 4 columns]

10.   **Crear una función que reciba una estación y un contaminante y devuelva un resumen descriptivo de las emisiones del contaminante indicado en la estadión indicada.**

In [25]:
def resumen(estacion, contaminante):
    return nuevo[(nuevo.ESTACION == estacion) & (nuevo.MAGNITUD == contaminante)].VALOR.describe()

# Resumen de Dióxido de Nitrógeno en Plaza Elíptica
print('Resumen Dióxido de Nitrógeno en Plaza Elíptica:\n', resumen(56, 8),'\n', sep='')
# Resumen de Dióxido de Nitrógeno en Plaza del Carmen
print('Resumen Dióxido de Nitrógeno en Plaza del Carmen:\n', resumen(35, 8), sep='')

Resumen Dióxido de Nitrógeno en Plaza Elíptica:
count      1461
unique      114
top       00045
freq         35
Name: VALOR, dtype: object

Resumen Dióxido de Nitrógeno en Plaza del Carmen:
count      1461
unique       86
top       00048
freq         48
Name: VALOR, dtype: object

11.   **Crear una función que devuelva las emisiones medias mensuales de un contaminante y un año dados para todos las estaciones.**

In [26]:
# Función que devuelve una serie con las emisiones medias mensuales de un contaminante y un mes año para todos las estaciones
def evolucion_mensual(contaminante, año):
    return nuevo[(nuevo.MAGNITUD == contaminante) & (nuevo.ANO == año)].groupby(['ESTACION', 'MES']).VALOR.mean().unstack('MES')

# Evolución del dióxido de nitrógeno en 2019
evolucion_mensual(8, 2019)

DataError: ignored

12.   **Crear un función que reciba una estación de medición y devuelva un DataFrame con las medias mensuales de los distintos tipos de contaminantes.**

In [ ]:
# Mostrar la edad media de las mujeres que viajaban en cada clase.
print(titanic.groupby(['Pclass','Sex'])['Age'].mean().unstack()['female'])

In [ ]:
# Añadir una nueva columna booleana para ver si el pasajero era menor de edad o no.
titanic['Young'] = titanic['Age'] < 18

In [ ]:
# Mostrar el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.
print(titanic.groupby(['Pclass', 'Young'])['Survived'].value_counts(normalize = True) * 100)