<a href="https://colab.research.google.com/github/marelly1/Ejercicios/blob/master/SolEjercicio8Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ejercicio 8:
Los ficheros emisiones-2016.csv, emisiones-2017.csv, emisiones-2018.csv y emisiones-2019.csv, contienen datos sobre las emisiones contaminates en la ciudad de Madrid en los años 2016, 2017, 2018 y 2019 respectivamente. Escribir un programa con los siguientes requisitos:**

In [1]:
import pandas as pd
import numpy as np
from google.colab import files
urlEmisiones2016="https://raw.githubusercontent.com/marelly1/pandas/master/emisiones-2016.csv"
urlEmisiones2017="https://raw.githubusercontent.com/marelly1/pandas/master/emisiones-2017.csv"
urlEmisiones2018="https://raw.githubusercontent.com/marelly1/pandas/master/emisiones-2018.csv"
urlEmisiones2019="https://raw.githubusercontent.com/marelly1/pandas/master/emisiones-2019.csv"

1.   **Generar un DataFrame con los datos de los cuatro ficheros.**

In [4]:
datos=pd.read_csv(urlEmisiones2016, encoding="Latin-1", sep=";",decimal=",")
df=pd.DataFrame(datos)
datos1=pd.read_csv(urlEmisiones2017, encoding="Latin-1", sep=";",decimal=",")
df1=pd.DataFrame(datos1)
datos2=pd.read_csv(urlEmisiones2018, encoding="Latin-1", sep=";",decimal=",")
df2=pd.DataFrame(datos2)
datos3=pd.read_csv(urlEmisiones2019, encoding="Latin-1", sep=";",decimal=",")
df3=pd.DataFrame(datos3)
#Concatenando los 4 dataframes
ab=pd.concat([df, df1,df2,df3])
#exportando el archivo a un csv
#ab.to_csv("concatenado.csv", encoding="Latin-1")
#files.download("concatenado.csv")

#ab[dias] = ab[dias].apply(pd.to_numeric)

2.   **Filtrar las columnas del DataFrame para quedarse con las columnas ESTACION, MAGNITUD, AÑO, MES y las correspondientes a los días D01, D02, etc.**

In [5]:
filtro=ab[["ESTACION","MAGNITUD","ANO","MES","D01","D02",'D03','D04','D05','D06','D07','D08','D09','D10','D11','D12','D13','D14','D15','D16','D17','D18','D19','D20','D21','D22','D23','D24','D25','D26','D27','D28','D29','D30','D31']]

3.   **Reestructurar el DataFrame para que los valores de los contaminantes de las columnas de los días aparezcan en una única columna.**

In [6]:
nuevo = filtro.melt(id_vars=['ESTACION', 'MAGNITUD', 'ANO', 'MES'], var_name='DIA', value_name='VALOR')
nuevo.head(3)

   ESTACION  MAGNITUD   ANO  MES  DIA  VALOR
0         4         1  2016    1  D01  00008
1         4         1  2016    2  D01  00012
2         4         1  2016    3  D01  00011

4.   **Añadir una columna con la fecha a partir de la concatenación del año, el mes y el día (usar el módulo datetime).**

In [7]:
nuevo["DIA"] = nuevo.DIA.str.extract(r"([-+]?\d*\.\d+|\d+)", expand=False).astype(np.int64)

nuevo["FECHA"]=pd.to_datetime((nuevo.ANO*10000+nuevo.MES*100+nuevo.DIA).apply(str),format="%Y%m%d", errors='coerce')
print(nuevo.head(5))

   ESTACION  MAGNITUD   ANO  MES  DIA  VALOR      FECHA
0         4         1  2016    1    1  00008 2016-01-01
1         4         1  2016    2    1  00012 2016-02-01
2         4         1  2016    3    1  00011 2016-03-01
3         4         1  2016    4    1  00008 2016-04-01
4         4         1  2016    5    1  00007 2016-05-01

5.   **Eliminar las filas con fechas no válidas (utilizar la función isnat del módulo numpy) y ordenar el DataFrame por estaciones, contaminantes y fecha.**

In [8]:
nuevo = nuevo.drop(nuevo[np.isnat(nuevo.FECHA)].index)
nuevo.sort_values(['ESTACION', 'MAGNITUD', 'FECHA'])
nuevo

        ESTACION  MAGNITUD   ANO  MES  DIA  VALOR      FECHA
0              4         1  2016    1    1  00008 2016-01-01
1              4         1  2016    2    1  00012 2016-02-01
2              4         1  2016    3    1  00011 2016-03-01
3              4         1  2016    4    1  00008 2016-04-01
4              4         1  2016    5    1  00007 2016-05-01
...          ...       ...   ...  ...  ...    ...        ...
225238        60        14  2019    5   31  00085 2019-05-31
225240        60        14  2019    7   31  00092 2019-07-31
225241        60        14  2019    8   31  00098 2019-08-31
225243        60        14  2019   10   31  00047 2019-10-31
225245        60        14  2019   12   31  00004 2019-12-31

[221158 rows x 7 columns]

6.   **Mostrar por pantalla las estaciones y los contaminantes disponibles en el DataFrame.**

7.   **Crear una función que reciba una estación, un contaminante y un rango de fechas y devuelva una serie con las emisiones del contaminante dado en la estación y rango de fechas dado.**

8.   **Mostrar un resumen descriptivo (mímino, máximo, media, etc) para cada contaminante.**

9.   **Mostrar un resumen descriptivo para cada contaminente por distritos.**

10.   **Crear una función que reciba una estación y un contaminante y devuelva un resumen descriptivo de las emisiones del contaminante indicado en la estadión indicada.**

11.   **Crear una función que devuelva las emisiones medias mensuales de un contaminante y un año dados para todos las estaciones.**

12.   **Crear un función que reciba una estación de medición y devuelva un DataFrame con las medias mensuales de los distintos tipos de contaminantes.**